header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //keep it simple
  //https://stackoverflow.com/questions/18611195/x-close-button-only-using-css
  //andy crone solution + screen reader friendly bit
  .close-detail {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    color: $brand-primary;
    cursor: pointer;
    &:after {
      display: inline-block;
      content: "\00d7"; /* This will render the 'X' */
    }
  }
}

.list-title {
  color: $brand-primary;
}
.list {
  padding: 1rem;

  .list-item {
    padding-left: 0.5rem;
    cursor: pointer;
    height: 50px;

    display: flex;
    align-items: center;
    background-color: $brand-light;

    &:nth-child(odd) {
      background-color: rgba($brand-primary, 0.3);
    }
  }
}
