.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  margin-bottom: $spacing-xl;
  background-color: $brand-primary;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: $brand-light;
}
